.post {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 20px min-content 20px 30px;
    grid-column-gap: 10px;
    text-align: left;

    &__icon {
        grid-row: 1 / 6;
    }

    &__user {
        font-size: 12px;
    }

    &__date {
        font-size: 10px;
    }

    &__meta {
        font-size: 12px;
    }
}

.icon {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 30px;
}