.feed {
    display: grid;
    grid-template-rows: 100px 80vh;

    &__posts {
        display: grid;
        grid-row-gap: 30px;
        overflow: scroll;
    }

    &__create {
        background: #f5f5f5;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}